    <form action = "/payment/results">
      <label for = "apr">APR</label>
      <input id = "apr" type = "text" name = "apr" placeholder = "E.g. 5.42">
        
      <label for = "years">Number of Years</label>
      <input id = "years" type = "text" name = "years" placeholder = "How many years to repay?">

      <label for = "principal">Principal</label>
      <input id = "principal" type = "text" name = "principal" placeholder = "How much principal">
      
      <button>
      Calculate monthly payment
      </button>
    </form>
