    <form action = "/random/results">
      <label for = "min">Minimum</label>
      <input id = "min" type = "text" name = "min" placeholder = "E.g. 1.5">
        
      <label for = "max">Maximum</label>
      <input id = "max" type = "text" name = "max" placeholder = "E.g. 4.5">

      <button>
      Pick random number
      </button>
    </form>
