  
   
    <form action = "/square/results">
      <label for = "square">Enter a number</label>
      <input id = "square" type = "text" name = "square" placeholder = "What number do you want to square">
      <button>
      Calculate Square
      </button>
    </form>
