    <form action = "/square_root/results">
      <label for = "number">Enter a number</label>
      <input id = "number" type = "text" name = "user_number" placeholder = "What number do you want to square">
      <button>
      Calculate square root
      </button>
    </form>
